<!doctype html>
<html ng-app="welcome">
<head>
    <title>File Ingester</title>
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./js/fiusers.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <link href="./bootstrap/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form ng-controller="UserController" ng-submit="loginUser()" class="form-signin">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <label for="emailAddress" class="sr-only">Email Address</label>
        <input type="email" id="emailAddress" ng-model="user.emailAddress" class="form-control" placeholder="Email Address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <a href="./pages/register.html">Register</a>
        </div>
        <button class="btn btn-lgn btn-primary btn-block">Sign In</button>
    </form>
</div>
</body>

</html>