<!doctype html>
<html ng-app="welcome">
<head>
    <title>File Ingester</title>
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./js/fiusers.js"></script>
    <link href="./bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./bootstrap/signin.css" rel="stylesheet">
    <script src="./bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form ng-controller="UserController" ng-submit="loginUser()" class="form-signin">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <label for="emailAddress" class="sr-only">Email Address</label>
        <input type="email" id="emailAddress" ng-model="user.emailAddress" class="form-control" placeholder="Email Address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <a href="./pages/register.html">Register</a>
        </div>
        <button class="btn btn-lgn btn-primary btn-block">Sign In</button>
    </form>
</div>
</body>

</html>