<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <welcome-file-list>
        <welcome-file>pages/welcome.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FileIngester</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.pink.triangle.hussain</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <listener><listener-class>com.pink.triangle.hussain.server.FileIngesterServer</listener-class></listener>
    <servlet-mapping>
        <servlet-name>FileIngester</servlet-name>
        <url-pattern>/fi/*</url-pattern>
    </servlet-mapping>
</web-app>